.App {
  text-align: center;
}

.App-header {
  /* tus estilos para el header */
}

.Main-content {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 1vh); /* Reemplaza 'alturaDelHeader' con la altura real de tu header */
  padding: 20px;
}

.Sidebar {
  width: 20%; /* O el ancho que prefieras para tu sidebar */
  overflow-y: auto; /* Permite el scroll en la lista si es muy larga */
  height: 100%; /* Toma la altura completa del Main-content */
}

.MapArea {
  flex-grow: 1; /* Ocupa el espacio restante */
  overflow: hidden; /* Si no quieres scroll en el mapa */
}

@media (max-width: 768px) {
  .Sidebar {
    width: 100%; /* En dispositivos móviles, el sidebar ocupa todo el ancho */
  }
  
  .MapArea {
    display: none; /* El mapa se oculta en dispositivos móviles */
  }
}
